<div class="row titreContact">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <h1 ><span class="label label-primary">Les Types de coordonnées du contact</span></h1>
    </div>

</div>